@page "/Update/{id:int}"

@using BlazorApp1.Data
@using BlazorApp1.Models
@inject Empservice Empservice
@inject NavigationManager NavigationManager

<h1 class="colorBlue">
    Edit Employee
</h1>
<EditForm EditContext="editContext" OnValidSubmit="UpdateEmp" class="mt-3">

    <DataAnnotationsValidator />
    <ul class="row forumBox">
        <li class="col-3 required">
            <label class="inputLabel">Name:</label>
        </li>
        <li class="col-3">
            <div class="mb-3">
                <InputText class="form-control" @bind-Value="newEmployee1.Name" />
            </div>
            <div class="erroeText">
                <ValidationMessage For="(() => newEmployee1.Name)"></ValidationMessage>
            </div>
        </li>

        <li class="col-3 required">
            <label class="inputLabel">Age:</label>
        </li>
        <li class="col-3">
            <div class="mb-3">
                <InputNumber class="form-control" @bind-Value="newEmployee1.Age" />
            </div>
            <div class="erroeText">
                <ValidationMessage For="(() => newEmployee1.Age)"></ValidationMessage>
            </div>
        </li>

        <li class="col-3">
            <label class="inputLabel">Address:</label>
        </li>
        <li class="col-3">
            <div class="mb-3">
                <InputText class="form-control" @bind-Value="newEmployee1.Address" />
            </div>
            <div class="erroeText">
                <ValidationMessage For="(() => newEmployee1.Address)"></ValidationMessage>
            </div>
        </li>

        <li class="col-3 required">
            <label class="inputLabel">Email:</label>
        </li>
        <li class="col-3">
            <div class="mb-3">
                <InputText class="form-control" @bind-Value="newEmployee1.Email" />
            </div>
            <div class="erroeText">
                <ValidationMessage For="(() => newEmployee1.Email)"></ValidationMessage>
            </div>
        </li>

        <li class="col-3">
            <label class="inputLabel">Skills:</label>
        </li>
        <li class="col-3">
            <div class="mb-3">
                <div>
                    @foreach (var skill in skills)
                    {
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="@skill.Name" @bind="skill.IsSelect" />
                            <label class="form-check-label" for="@skill.Name">@skill.Name</label>
                        </div>
                    }
                </div>
            </div>
            <div class="erroeText">
                <ValidationMessage For="(() => newEmployee1.Skills)"></ValidationMessage>
            </div>
        </li>

        <li class="col-12 mt_20">
            <div class="form_btns">
                <button type="submit" class="common_btn btnBlue">Save Changes</button>
            </div>
        </li>
    </ul>
</EditForm>
