@page "/Restorepage/{id:int}"
@using BlazorApp1.Data
@using BlazorApp1.Models
@inject NavigationManager NavigationManager
@inject Empservice Empservice
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
<EditForm Model="@typeof(BlazorApp1.Models.Emptbl)" class="mt-3">
    <ul class="row forumBox">
        <li class="col-12">
            <h3>Employee Details</h3>
        </li>
        @if (emp != null)
        {
            <li class="col-3">
                <label class="inputLabel">Employee ID</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputNumber @bind-Value="emp.Id" class="form-control" disabled="disabled" />
                </div>
            </li>

            <li class="col-3">
                <label class="inputLabel">Employee Name</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="emp.Name" class="form-control" disabled="disabled" />
                </div>
            </li>

            <li class="col-3">
                <label class="inputLabel">Employee Address</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="emp.Address" class="form-control" disabled="disabled" />
                </div>
            </li>

            <li class="col-3">
                <label class="inputLabel">Employee Skills</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="emp.Skills" class="form-control" disabled="disabled" />
                </div>
            </li>

            <li class="col-3">
                <label class="inputLabel">Employee Email</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="emp.Email" class="form-control" disabled="disabled" />
                </div>
            </li>
        }
        else
        {
            <li class="col-12">
                <p>No employee details found.</p>
            </li>
        }

        <li class="col-12 mt_20">
            <div class="form_btns">
                <button type="button" class="common_btn btnBlue" @onclick="CancelClick">Cancel</button>
                @*                 <button type="button" class="common_btn btnRed" @onclick="DeleteEmployeeAsync(emp.Id)">Delete</button>
                *@
                <button class="btn btn-danger" @onclick="() => RestoreAsync(emp.Id)">Restore</button>


            </div>
        </li>
    </ul>
</EditForm>






